{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}IMPRESSUM{% endblock %}

        {% block impressum %}
		<h4> Impressum / Urheberrecht / Datenschutz</h4><br />
		<div class="row">
             <div class="col-md-10">
                        <div class="row">
							<div class="col-md-6 ">						
								<strong>Herausgeber</strong>
								<p> Berlin-Brandenburgische Akademie der Wissenschaften<br />
									Jägerstraße 22/23<br /> 
									10117 Berlin </p>
							
								<strong>Vertreter</strong>
								<p> Prof. Dr. Dr. h. c. mult. Martin Grötschel<br />
									Tel.: +49 30 20370-0<br />
									E-Mail: bbaw@bbaw.de </p>
							
							
								<strong>Rechtsform</strong>
								<p> Rechtsfähige Körperschaft öffentlichen Rechts </p>
							</div>
						
						
							<div class="col-md-6">
								<strong>Umsatzsteuer-Identifikationsnummer</strong>
								<p> DE 167 449 058 (gemäß §27 a Umsatzsteuergesetz) </p>
						
						
								<strong>Technische Realisierung</strong>
								<p><a href="http://wsp.bbaw.de/">Digitaler Wissensspeicher </a><br/>
								(Berlin-Brandenburgische Akademie der Wissenschaften)</p>
                        
						
								<strong>Benutzte Software</strong>
								<ul>
										<li>Apache Jena</li>
										<li>Apache Lucene</li>
										<li>Django</li>
									
								</ul><br />
							</div>
						</div><br />
						
						<strong>Urheberrecht</strong>
                        
						<div class="row">	
							<div class="col-md-6">
								<p>Die BBAW ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente, Video-Sequenzen und Texte zu beachten, von ihm selbst erstellte Grafiken, Tondokumente, Video-Sequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Video-Sequenzen und Texte zurückzugreifen.</p>
								<p>Alle innerhalb des Internet-Angebotes genannten und gegebenenfalls durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer.</p>
							</div>
						
							<div class="col-md-6">
								<p>Allein aufgrund der bloßen Nennung ist nicht der Schluß zu ziehen, daß Markenzeichen nicht durch Rechte Dritter geschützt sind.</p>
								<p>Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten.</p>
								<p>Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Video-Sequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet, wenn es den zulässigen Umfang überschreitet oder den zulässigen Zweck nicht erfüllt.</p>
							</div>
						</div><br />
						
					   <strong>Hinweise zum Datenschutz</strong>
					   <div class="row">
							<div class="col-md-6">
								<p>Diese Website benutzt Piwik, eine Open-Source-Software zur statistischen
                                Auswertung der Besucherzugriffe. Piwik verwendet sog. “Cookies”,
                                Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse
                                der Benutzung der Website durch Sie ermöglichen. </p>
							</div>
							
							<div class="col-md-6">
								<p>Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieses 
								Internetangebotes werden auf einem Server der Berlin-Brandenburgischen Akademie 
								der Wissenschaften in Deutschland gespeichert. Die IP-Adresse wird sofort nach 
								der Verarbeitung und vor deren Speicherung anonymisiert.</p>
							</div>		
                        </div><br />
						
						<div class="row">
							<div class="col-md-6">
								<div class="embed-responsive embed-responsive-16by9" >
									<iframe class="embed-responsive-item" frameborder="no" width="730px" height="200px" 
											src="http://telotadev.bbaw.de/stat/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=de" 
											style="padding-bottom: 20px">
									</iframe>
								</div>
							</div>
						</div><br />
				</div>	
				</div>
		{% endblock %}

		