.bbawlink{
    border-bottom: 2px solid #c60c30;
    font-weight: normal;
    height: 18px;
    line-height: 1px;
    margin: 5px 0 0;
    padding: 0 20px 2px 5px;
    text-decoration: none;
	width: 80px;
	text-align: left;
	font-size: 12px;
}

.navbar-light .navbar-nav .bbawlink{
	color:#c60c30;
}


.footerLink{
	color: #c60c30;
    font-weight: normal;
    text-decoration: none;
	width: 80px;
	text-align: left;
    font-size: 11px;
}

p{
	font-size:14px;
}

h4{
	border-bottom: 2px dotted #c60c30;
	padding-bottom:10px;
}