.table-cell{
	display:table-cell;
	vertical-align:top;
	}

.table{
	display:table;
}


@media screen and (max-width: 48em){/* nice wrap of Logo*/

.table-cell{
	display:table-row;
	}

.bbaw-logo{
	float:right;
	margin:0px -30px 60px 0px;
}
	
h1{
	font-size: 230%;
}	

.table{
	padding: 0 5px 0 5px;
}
}

.bbaw-logo-nav{/*background-image for the navigation when collapse*/
	background-image: url("../img/logo_background.png");
	background-repeat: no-repeat;
	background-position:bottom right;
	background-size:200px;
}


@media screen and (max-width: 34em){
.bbaw-logo-height{/*height of navigation changes to show the background-image*/
	height:160px;
}
}
