<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Digital Knowledge Store</title>

    {% load static %}
    <link href="{% get_static_prefix %}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{% get_static_prefix %}css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link href="{% get_static_prefix %}css/custom.css" rel="stylesheet">
    <!--<link href="{% get_static_prefix %}css/style.css" rel="stylesheet">-->
    <link href="{% get_static_prefix %}css/colorbox.css" rel="stylesheet">

    <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->
</head>
<body>
    <div id="wrap" class="row">
        <div class="span12">
            <h1><a href="../">Digital Knowledge Store</a></h1>
            <div id="logo" class="ir">Berlin-Brandenburgische Akademie der Wissenschaften</div>
        </div>
            {% block content %}{% endblock %}
            {% block search_form %}{% endblock %}
            {% block results %}{% endblock %}
    </div>
    <div id="footer">
        <p class="muted">{{ totalDocuments }} digital resources indexed</p>
        <div id="dfg_logo" class="ir">Deutsche Forschungsgemeinschaft</div>
    </div>
    <!-- JavaScript at the bottom for fast page loading -->
    <script src="../static/js/jquery-1.9.1.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="{% get_static_prefix %}js/colorbox/jquery.colorbox-min.js"></script>

    <script>
        $(document).ready(function(){
            $(".statsPopup").colorbox({inline:true, width:"70%"});
            $(".statsPopup").colorbox({
                    onComplete:function(){
                        //Code für Stastikanzeige

                    }
                });
        });

        $(".zusatzClick").click(function() {
            $(this).parent().find(".zusatz").slideToggle();
        });
        /*$("#zusatzZeigen").click(function() {
            if ($(".zusatz").filter(":visible"))
            $(".zusatz:hidden").show()
            $(".zusatz").slideToggle();
        });*/
    </script>

    <!--

    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/colorbox/jquery.colorbox-min.js"></script>
    <script src="/static/js/script.js"></script> -->
    <script src="/static/js/jquery.peity.min.js"></script>
    <script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/nv.d3.min.js" charset="utf-8"></script>


    <script>
        $.fn.peity.defaults.pie = {
            diameter: 13,
            height: null,
            width: null
        }
        $("span.pie").peity("pie", {colours: ["rgb(198, 12, 48)","rgb(218, 218, 218)"]}, {diameter: "10"})
        $(".search-result label").click(function(e){
            $(this).toggleClass('expand').siblings(".metadata").toggleClass('expand');
            e.preventDefault();
        })
    </script>
    <!-- end scripts -->
    <!--

    <script src="{% get_static_prefix %}js/plugins.js"></script>

    <script src="{% get_static_prefix %}js/script.js"></script>
    <!- end scripts -->

</body>
</html>
