<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Digitaler Wissensspeicher</title>

    {% load static %}
    <link href="{% get_static_prefix %}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{% get_static_prefix %}css/dataTables.bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link href="{% get_static_prefix %}css/custom.css" rel="stylesheet">
    <link href="{% get_static_prefix %}css/nv.d3.css" rel="stylesheet" type="text/css">
    <!--<link href="{% get_static_prefix %}css/style.css" rel="stylesheet">-->
    <link href="{% get_static_prefix %}css/colorbox.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,400italic,600,600italic,500,500italic,200,200italic,300italic,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setVisitorCookieTimeout", "604800"]);
      _paq.push(["setSessionCookieTimeout", "0"]);
      _paq.push(["setDomains", ["*.wissensspeicher.bbaw.de","*.wspdev.bbaw.de"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//telotadev.bbaw.de/stat/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 27]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//telotadev.bbaw.de/stat/piwik.php?idsite=27" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</head>
<body>
    <div id="wrap"> <!-- wrap used for sticky footer -->
        <div class="container" id="main">
			
			
            <h1><a href="../">Digitaler Wissensspeicher</a></h1>
			
			
            <div id="logo">
                <div class="pull-right"><a href="http://www.bbaw.de" title="Zur Homepage der BBAW"><img src="{% get_static_prefix %}img/bbaw_logo.png"></a></div>
            </div>
			
            {% block search_form %}{% endblock %}
            {% block results %}{% endblock %}
            {% block content %}{% endblock %}
            {% block status %}{% endblock %}
            {% block impressum %}{% endblock %}

        </div>
    </div>
    <div id="footer">
        <div class="container"><br>
            <div class="pull-right" title="Gefördert durch die Deutsche Forschungsgemeinschaft (DFG)">
                <a href="http://www.dfg.de"><img src="{% get_static_prefix %}img/dfg_logo-small.png" title="Gefördert durch die Deutsche Forschungsgemeinschaft (DFG)"></a>
            </div>
            <p class="muted">Es sind {{ totalDocuments }} digitale Ressourcen indexiert.</p>
            <p><a href="{% url 'impressum' %}">Impressum</a></p>
			
        </div>
    </div>
    <!-- JavaScript at the bottom for fast page loading -->
    <script src="{% get_static_prefix %}js/jquery-1.9.1.min.js"></script>
    <script src="{% get_static_prefix %}js/bootstrap.min.js"></script>
    <script src="{% get_static_prefix %}js/colorbox/jquery.colorbox-min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#statustabelle').dataTable({ 
                "aLengthMenu": [
                [25, 50, 100, 200, -1],
                [25, 50, 100, 200, "Alle"]
                ], 
                "iDisplayLength" : -1,
                "language": {"sEmptyTable":"Keine Daten in der Tabelle vorhanden","sInfo":"_START_ bis _END_ von _TOTAL_ Einträgen","sInfoEmpty":"0 bis 0 von 0 Einträgen","sInfoFiltered":"(gefiltert von _MAX_ Einträgen)","sInfoPostFix":"","sInfoThousands":".","sLengthMenu":"_MENU_ Einträge anzeigen","sLoadingRecords":"Wird geladen...","sProcessing":"Bitte warten...","sSearch":"Filtern nach: ","sZeroRecords":"Keine Einträge vorhanden.","oPaginate":{"sFirst":"Erste","sPrevious":"Zurück","sNext":"Nächste","sLast":"Letzte"},"oAria":{"sSortAscending":": aktivieren, um Spalte aufsteigend zu sortieren","sSortDescending":": aktivieren, um Spalte absteigend zu sortieren"}},
                "columnDefs": [{"orderable": false, "targets": 1},{"type":"date-de", "targets": 5}]

            });
            
            {% comment %}
            // Autorenstatistik
            function autorenData() {
               return  [ 
               {
                  key: "Autoren",
                  values: [
                  { 
                      "label" : "Humboldt, Alexander von" ,
                      "value" : 1019
                  } , 
                  { 
                      "label" : "Biermann, Kurt-Reinhard" , 
                      "value" : 293
                  } , 
                  { 
                      "label" : "Schwarz, Ingo" , 
                      "value" : 165
                  } , 
                  { 
                      "label" : "Beck, Hanno" , 
                      "value" : 108
                  } , 
                  { 
                      "label" : "Ette, Ottmar" ,
                      "value" : 81
                  }
                  ]
              }
              ]

          }
          nv.addGraph(function() {
              var chart = nv.models.discreteBarChart()
                  .x(function(d) { return d.label })    //Specify the data accessors.
                  .y(function(d) { return d.value })
                  .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
                  .tooltips(true)        //Don't show tooltips
                  .showValues(false)       //...instead, show the bar value right on top of each bar.
                  .transitionDuration(350)
                  .width(450)
                  .height(230)
                  .showYAxis(false)
                  ;
                  
                  chart.yAxis.tickFormat(d3.format(''));
                  chart.margin({top: 15, right: 10, bottom: 50, left: 25});

                  d3.select('#autorinnen_stat svg')
                  .datum(autorenData())
                  .call(chart);

                  nv.utils.windowResize(chart.update);

                  return chart;
              });
          
            // Dokumentestatistik
            var dokumente_data = [
            { 
                key: "HTML",
                y: 8682
            },
            { 
                key: "XML",
                y: 8325
            },
            { 
                key: "PDF",
                y: 2041
            },
            { 
                key: "MS-Doc",
                y: 5
            }
            ];
            
            nv.addGraph(function() {                
                var chart = nv.models.pieChart()
                .x(function(d) { return d.key })
                .y(function(d) { return d.y })
                .color(d3.scale.category10().range())
                .width(300)
                .height(300)
                .donut(true)
                .showLabels(false)
                ;
                
                chart.valueFormat(d3.format(''));
                
                d3.select("#dokumente_stat svg")
                .datum(dokumente_data)
                .transition().duration(1200)
                .attr('width', 300)
                .attr('height', 300)
                .call(chart);

                return chart;
            });
            
            // Sprachstatistik
            var language_data = [
            { 
                key: "Deutsch",
                y: 12090
            },
            { 
                key: "Griechisch",
                y: 5068
            },
            { 
                key: "Französisch",
                y: 1708
            },
            { 
                key: "Englisch",
                y: 96
            },
            { 
                key: "Latein",
                y: 91
            }
            ];
            
            nv.addGraph(function() {                
                var chart = nv.models.pieChart()
                .x(function(d) { return d.key })
                .y(function(d) { return d.y })
                .color(d3.scale.category10().range())
                .width(300)
                .height(300)
                .donut(true)
                .showLabels(false)
                ;
                
                chart.valueFormat(d3.format(''));
                
                d3.select("#sprachen_stat svg")
                .datum(language_data)
                .transition().duration(1200)
                .attr('width', 300)
                .attr('height', 300)
                .call(chart);

                return chart;
            });
            
            // Projektestatistik
            function projekteData() {
               return  [ 
               {
                  key: "Projekte",
                  values: [
                  { 
                      "label" : "Sekundärlit. Humboldt" ,
                      "value" : 7736
                  } , 
                  { 
                      "label" : "Inscriptiones Graecae" , 
                      "value" : 5052
                  } , 
                  { 
                      "label" : "Registres de l'Academie" , 
                      "value" : 1708
                  } , 
                  { 
                      "label" : "Deutsches Textarchiv" , 
                      "value" : 920
                  } , 
                  { 
                      "label" : "Unselbst. Schriften Humboldts" ,
                      "value" : 712
                  }
                  ]
              }
              ]

          }
          nv.addGraph(function() {
              var chart = nv.models.discreteBarChart()
                  .x(function(d) { return d.label })    //Specify the data accessors.
                  .y(function(d) { return d.value })
                  .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
                  .tooltips(true)        //Don't show tooltips
                  .showValues(false)       //...instead, show the bar value right on top of each bar.
                  .transitionDuration(350)
                  .width(450)
                  .height(230)
                  .showYAxis(false)
                  ;
                  
                  chart.yAxis.tickFormat(d3.format(''));
                  chart.margin({top: 15, right: 10, bottom: 50, left: 25});

                  d3.select('#projekte_stat svg')
                  .datum(projekteData())
                  .call(chart);

                  nv.utils.windowResize(chart.update);

                  return chart;
              });
          {% endcomment %}

            // Enable fancy tooltips for search options

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

        });

$(".zusatzClick").click(function() {
    $(this).parent().find(".zusatz").slideToggle();
});

        // Knowledge-Browsing
        if (document.getElementById('kb')) {
            console.log("Generating options for Knowledge-Browsing");
            
            $.ajax({
                type: 'GET',
                url: 'http://wspdev.bbaw.de/wspCmsWebApp/query/QueryDocuments',
                data: ({'outputFormat': 'json', 'outputOptions': 'showMainEntitiesFacet', 'query': '{{ search_term|safe }}' }),
                dataType: 'json',
                success: function(json) {
                    console.log(this.url);
                    if (json.hasOwnProperty('facets')) {
                        document.getElementById('erkunden-tab').className =
                        document.getElementById('erkunden-tab').className.replace( /(?:^|\s)disabled(?!\S)/g , '' );
                    }
                    else {
                        document.getElementById('erkunden-content').innerHTML = 'Keine Vorschläge gefunden.';
                    }
                    var ul = document.getElementById('erkunden-content').appendChild(document.createElement('ul'));
                    ul.className = "list-inline";
                    for (var i = 0; i < json.facets.mainEntities.length; i++) {
                        var kbItem = json.facets.mainEntities[i]
                        var li = ul.appendChild(document.createElement("li"));
                        var liLink = document.createElement('a');
                        liLink.appendChild(document.createTextNode(kbItem.label));
                        liLink.href = '../search?query=' + kbItem.label;
                        if (kbItem.uriGnd) {
                            liLink.title = kbItem.uriGnd;
                        } else {
                            liLink.title = kbItem.uri;
                        }
                        liLink.className = kbItem.type;
                        li.appendChild(liLink);
                    };
                    return json;
                },
                error: function(textStatus) {
                    console.log("Error with AJAX-Request");
                    console.log(this.url);
                    console.log(textStatus);
                }
            });
            
            
            $.ajax({
                type: 'GET',
                url: 'http://wspdev.bbaw.de/wspCmsWebApp/query/QueryMdSystem',
                data: ({'outputFormat': 'json', 'projectsTab': 'true', 'query': '{{ search_term|safe }}', 'detailedSearch': 'true' }),
                dataType: 'json',
                success: function(json) {
                    console.log(this.url);
                    if (json.results.bindings.length > 0) {
                        document.getElementById('vorhaben-tab').className =
                        document.getElementById('vorhaben-tab').className.replace( /(?:^|\s)disabled(?!\S)/g , '' );
                    }
                    else {
                        document.getElementById('vorhaben-content').innerHTML = 'Keine Vorschläge gefunden.';
                    }
                    var ul = document.getElementById('vorhaben-content').appendChild(document.createElement('ul'));
                    ul.className = "list-inline";
                    for (var i = 0; i < json.results.bindings.length; i++) {
                        var kbItem = json.results.bindings[i]
                        var li = ul.appendChild(document.createElement("li"));
                        var liLink = document.createElement('a');
                        liLink.appendChild(document.createTextNode(kbItem.name.value));
                        liLink.href = kbItem.homepage.value;
                        li.appendChild(liLink);
                    };
                    return json;
                },
                error: function(textStatus) {
                    console.log("Error with AJAX-Request");
                    console.log(this.url);
                    console.log(textStatus);
                }
            });

            $.ajax({
                type: 'GET',
                url: 'http://wspdev.bbaw.de/wspCmsWebApp/query/QueryMdSystem',
                data: ({'outputFormat': 'json', 'projectsTabPersons': 'true', 'query': '{{ search_term|safe }}', 'detailedSearch': 'true' }),
                dataType: 'json',
                success: function(json) {
                    console.log(this.url);
                    if (json.results.bindings.length > 0) {
                        document.getElementById('personen-tab').className =
                        document.getElementById('personen-tab').className.replace( /(?:^|\s)disabled(?!\S)/g , '' );
                        $('#personen-tab a')
                    }
                    else {
                        document.getElementById('personen-content').innerHTML = 'Keine Vorschläge gefunden.';
                    }
                    var ul = document.getElementById('personen-content').appendChild(document.createElement('ul'));
                    ul.className = "list-inline";
                    for (var i = 0; i < json.results.bindings.length; i++) {
                        var kbItem = json.results.bindings[i]
                        var li = ul.appendChild(document.createElement("li"));
                        var liLink = document.createElement('a');
                        liLink.appendChild(document.createTextNode(kbItem.familyName.value + ", " + kbItem.givenName.value));
                        liLink.href = kbItem.gndIdentifier.value;
                        li.appendChild(liLink);
                    };
                    return json;
                },
                error: function(textStatus) {
                    console.log("Error with AJAX-Request");
                    console.log(this.url);
                    console.log(textStatus);
                }
            });
        };

        /*$("#zusatzZeigen").click(function() {
            if ($(".zusatz").filter(":visible"))
            $(".zusatz:hidden").show()
            $(".zusatz").slideToggle();
        });*/
    </script>

    <!--

    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/colorbox/jquery.colorbox-min.js"></script>
    <script src="/static/js/script.js"></script> -->
    <script src="/static/js/jquery.peity.min.js"></script>
    <!--<script src="/static/js/d3.js"></script>
    <script src="/static/js/nv.d3.js"></script>-->
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/dataTables.bootstrap.js"></script>


    <script type="text/javascript">
        $.fn.peity.defaults.pie = {
            diameter: 13,
            height: null,
            width: null
        }
        $("span.pie").peity("pie", {colours: ["rgb(198, 12, 48)","rgb(218, 218, 218)"]}, {diameter: "10"})
        $(".search-result label").click(function(e){
            $(this).toggleClass('expand').siblings(".metadata").toggleClass('expand');
            e.preventDefault();
        })
    </script>
    <!-- end scripts -->
    <!--

    <script src="{% get_static_prefix %}js/plugins.js"></script>

    <script src="{% get_static_prefix %}js/script.js"></script>
    <!- end scripts -->

</body>
</html>
