{% extends "base.html" %}

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMPRESSUM</title>
	
  </head>
  <body>
		
  
  {% block impressum %}

                    <div class="col col-md-8 col-md-offset-3" id="impressum">
					<h3> Impressum / Urheberrecht / Datenschutz</h3>
                        <h2>Herausgeber</h2>
                        <p> Berlin-Brandenburgische Akademie der Wissenschaften<br />
                                Jägerstraße 22/23<br /> 10117 Berlin </p>
                        <h2>Vertreter</h2>
                        <p> Prof. Dr. Dr. h. c. mult. Martin Grötschel<br /> Tel.: +49 30 20370-0,
                                E-Mail: bbaw@bbaw.de </p>
                        <h2>Rechtsform</h2>
                        <p> Rechtsfähige Körperschaft öffentlichen Rechts </p>
                        <h2>Umsatzsteuer-Identifikationsnummer</h2>
                        <p> DE 167 449 058 (gemäß §27 a
                                Umsatzsteuergesetz) </p>
                        <h2>Technische Realisierung</h2>
                        <p><a href="http://wsp.bbaw.de/">Digitaler Wissensspeicher </a> (Berlin-Brandenburgische Akademie der Wissenschaften)<br />
                        <h2>Urheberrecht</h2>
                        <p>Die BBAW ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente, Video-Sequenzen und Texte zu beachten, von ihm selbst erstellte Grafiken, Tondokumente, Video-Sequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Video-Sequenzen und Texte zurückzugreifen.</p>
                        <p>Alle innerhalb des Internet-Angebotes genannten und gegebenenfalls durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer.</p>
                        <p>Allein aufgrund der bloßen Nennung ist nicht der Schluß zu ziehen, daß Markenzeichen nicht durch Rechte Dritter geschützt sind.</p>
                        <p>Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten.</p>
                        <p>Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Video-Sequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet, wenn es den zulässigen Umfang überschreitet oder den zulässigen Zweck nicht erfüllt.</p>
                        <h2>Hinweise zum Datenschutz</h2>
                        <p>Diese Website benutzt Piwik, eine Open-Source-Software zur statistischen
                                Auswertung der Besucherzugriffe. Piwik verwendet sog. “Cookies”,
                                Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse
                                der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie
                                erzeugten Informationen über Ihre Benutzung dieses Internetangebotes werden
                                auf einem Server der Berlin-Brandenburgischen Akademie der Wissenschaften in
                                Deutschland gespeichert. Die IP-Adresse wird sofort nach der Verarbeitung
                                und vor deren Speicherung anonymisiert.</p>
                        
						<div class="embed-responsive embed-responsive-16by9" >
						<iframe class="embed-responsive-item" frameborder="no" width="730px" height="200px" src="http://telotadev.bbaw.de/stat/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=de" style="padding-bottom: 20px"></iframe>
						</div>
					
				</div>	
  {% endblock %}
  </body>
</html>