{% extends "base.html" %}

{% block search_form %}
<div id="teaser" class="col-md-12">
    <p class="lead">
    Ihr zugang zu den digitalen Ressourcen der BBAW
    </p>
    <p>
    Der Digitale Wissensspeicher bietet Ihnen die Möglichkeit im Sinne eines ‚digitalen Streifzuges‘ alle digitalen Ressourcen der BBAW zu erkunden. Ihnen steht dafür die Volltextsuche (auch mit Suche nach Wortphrasen) ebenso zur Verfügung wie die Übersetzung und morphologische Analyse und Filterung der Suchergebnisse.
    </p>
</div>
<div id="searchfield" class="col-md-12">
    <form action="/search/" id="mainsearch" class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <div class="col-md-11">
                    <input type="text" name="query" id="query" autofocus class="form-control" value="">
                </div>
                <button type="submit" title="Searching the Digital Knowledge Store" id="submit-button" class="btn btn-default">Suche</button>
            </div>
            <div class="form-group" id="search-options">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label for="translateCheck" class="checkbox-inline" data-toggle="tooltip" data-placement="bottom" title="Suchbegriff automatisch übersetzen und mehrsprachig suchen">
                            <input type="checkbox" name="translateCheck" id="translateCheck"{% if translateSearch == True %} checked {% endif %}>mehrsprachige Suche
                        </label>
                        <label for="morphologicalSearch" class="checkbox-inline" data-toggle="tooltip" data-placement="bottom" title="Suchbegriff morphologisch analysieren und auch Stammformen finden" style="margin-left: 10px;">
                            <input type="checkbox" name="morphologicalSearch" id="morphologicalSearch"{% if morphologicalSearch == True %} checked {% endif %}>morphologische Suche
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div id="search-examples" class="col-md-12">
    <h2>Beispiele für Suchmöglichkeiten</h2>
    <ul>
        <li><a href="/search/?query=Digitale+Edition">Suche nach <mark>Digitale Edition</mark></a></li>
        <li><a href="/search/?query=1848">Suche nach <mark>1848</mark></a></li>
        <li><a href="/search/?query=%22die+philosophen+haben+die+welt%22">Phrasensuche nach <mark>"die philosophen haben die welt"</mark></a></li>
        <li><a href="/search/?query=bonpland+reiste&amp;morphologicalSearch=on">Suche nach <mark>bonland reiste</mark> mit morphologischer Analyse der Suchbegriffe</a> (findet auch <em>Reise</em>, <em>reisen</em>, etc.)</li>
        <li><a href="/search/?query=Nachahmung&amp;translateCheck=on">Suche nach <mark>Nachahmung</mark> mit automatischer Übersetzung des Suchbegriffs nach mehreren Sprachen</a> (findet z.&nbsp;B. frz. <em>imitation</em>)</li>
        <li><a href="/search/?query=maison&amp;translateCheck=on">Suche nach <mark>maison</mark> mit automatischer Übersetzung des Suchbegriffs nach mehreren Sprachen</a> (findet z.&nbsp;B. dt. <em>Haus</em> oder engl. <em>house</em>)</li>

    </ul>
</div>
{% comment %}
<div class="front_stat col-md-6">
<h3>Projekte</h3>
<p>Projekte mit den meisten digitalen Ressourcen</p>
<div id="projekte_stat">
<svg style="height:450px"/>
</div>
</div>
<div class="front_stat col-md-6">
<h3>AutorInnen</h3>
<div id="autorinnen_stat">
<p>5 häufigste AutorInnen</p>
<svg style="height:450px"/>
</div>
</div>
<div class="front_stat col-md-6">
<h3>Dokumente</h3>
<div id="dokumente_stat">
<svg style="height:450px"/>
</div>
</div>
<div class="front_stat col-md-6">
<h3>Sprachen</h3>
<div id="sprachen_stat">
<svg style="height:450px"/>
</div>
</div>
{% endcomment %}
{% endblock %}
