{% extends "base.html" %}
{% load webpages_extras %}

{% block status %}


<div class="span12">
	<h2>Status der Erfassung/Indexierung</h2>
	<p>Diese Tabelle gibt eine Übersicht über den derzeitigen Stand der Erfassung und Indexierung aller digitalen Ressourcen an der BBAW.</p>
</div>

<div class="span12">
	<table class="table table-condensed table-hover" id="statustabelle" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Projekt</th>
				<th></th>
				<th>Typ</th>
				<th>Projektstatus</th>
				<th>Indexierungsstatus</th>
				<th>Letzte Indexierung</th>
				<th>Art der Ressourcen</th>
			</tr>
		<!--
		<tfoot>
			<tr>
				<th>Projekt</th>
				<th>Typ</th>
				<th>Projektstatus</th>
				<th>Indexierungsstatus</th>
				<th>Art der Ressourcen</th>
			</tr>
		</tfoot>
		-->
		<tbody>
		<!--	<tr class="success">
				<td>Gesundheitsstandards</td>
				<td>IAG</td>
				<td>abgeschlossen</td>
				<td>aufgenommen</td>
				<td>Webseiten</td>
			</tr>
		-->
		{% for rdfURI, single_project in projektMetadaten.items %}
			<tr 
				{% if single_project.indexingProgress == "done" %}
				  class="success"
				{% elif single_project.indexingProgress == "open" %}
				  class="danger"
				{% elif single_project.indexingProgress == "started" %}
				  class="warning"
				{% endif %} 
			>
				<td title="{{ single_project.rdfURI }}">{{ single_project.name}}</td>
				<td style="min-width: 50px;"><a href="..{% url 'search' %}?query=*&amp;project={{ single_project.projectShortname}}"><i class="icon-search" title="Suche"></i></a> <a href="{{ single_project.webURI}}"><i class="icon-home" title="Zur Homepage"></i></a> <a href="details/?rdfURI={{ single_project.rdfURI }}"><i class="icon-info" title="Mehr Informationen"></i></a></td>
				<td>{{ single_project.projectType }}</td>
				<td>{{ single_project.status}}</td>
				<td title="{{ single_project.indexingComment }}">{{ single_project.indexingProgress}}</td>
				<td>{{ single_project.projectLastIndex|date:"Y/m/d H:i" }}
				<td>{{ single_project.projectDefinition}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>


{% endblock %}
