/* Left align whole layout */
#main {
  margin: 0;
}

/* BBAW Logo */

#logo {
  margin-top: 75px;
}

#searchfield {
  margin-top: 15px;
}

#search-options {
  margin-top: -25px;
}

#knowledge-browsing {
  /*background: #f0f0f0;*/
}

#knowledge-browsing legend {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

#knowledge-browsing button {
  margin-bottom: 10px;
}

img.format {
    float:left;
    margin-right: 8px;
}

h2{
    font-size:16px;
    line-height:21px;
    font-weight: 600;
    margin: 0 0 12px 0;
}
h3{
    font-size:18px;
    font-weight:normal;
    line-height:21px;
    margin-top: -3px;
    margin-left: 24px;
    font-weight: 600;
}

.search-result {
  margin-bottom: 55px;
  background-color: #eee;
  padding:0 20px 20px 20px;
  transition:all 0.2s ease;
}

.search-result span {
  display:block;
  font-size:14px;
  position:relative;
  top:-20px;
}

.search-result blockquote {
  padding: 0px 6px;
  margin-bottom: 8px;
  font-size: 13px;
  border-left: 2px solid rgb(200, 200, 200);
  /*background-color: #eee;*/
}

.search-result input{
    display:none;
}

.zusatzClick {
  margin: 0 -20px 0 -20px;
  padding-left: 35px;
  background: #333;
  color: #fff;
  cursor:pointer;
  font-size: 13px;
}
.search-result .zusatzClick:before{
    background:#c60c30 url(../img/arrow_down.png) 50% 50% no-repeat;
    content:"";
    height:20px;
    position:absolute;
    left:15px;
    transition:all 0.5s ease;
    width:20px;
}

.search-result .zusatzClick:hover,.search-result input:focus + .zusatzClick{
    text-decoration:underline;
}

/* XXX This needs work - in order to switch the arrow orientation on drop down action */
.search-result + .zusatzClick:before,.zusatzClick.expand:before{
    background:#c60c30 url(../img/arrow_up.png) 50% 50% no-repeat;
}



.search-result .metadata{
    background:#7d7d7d;
    color:#fff;
    /*height:0;*/
    margin:0 -20px -26px -20px;
    overflow:hidden;
    padding: 5px 10px;
    position:relative;
    transition:all 0.3s ease;
    z-index:10;
}/*.search-result input:checked ~ .metadata,.metadata.expand{
    height:auto;
    padding:16px 20px 20px 20px;
}*/

.metadata ul {
    margin: 0;
}

.metadata a:link, .metadata a:visited {
    color: #fff;
}

.metadata a:active {
    color: #f00;
    outline: none;
    text-decoration: underline;
}

#kb {
  margin-top: -40px;
}

.nav.nav-tabs {
  font-weight: 600;
}

.tab-content {
  min-height: 12em;
  border: 1px solid rgb(221, 221, 221);
  border-top: 0px;
  padding: 8px 15px 8px 15px;
  margin-bottom: 20px;
}

#eingrenzung {
  /*background: #f0f0f0;*/
  margin-bottom: 20px;
  padding: 10px 15px;
  border: 1px solid rgb(221,221,221);
}

#eingrenzung ul {
    margin-bottom: 1em;
    list-style: none;
}

.checkbox {
  margin-bottom: 5px;
}

.checkbox-inline {
  padding-top: 4px;
}

body {
    background:#fff url(../img/white_wall_hash.png) left top repeat;
    position:relative;
    max-width:1680px;
    font-family: "Exo 2", "Helvetica Neue", "Helvetica", "Segoe UI", "Arial", sans-serif;
    }

b, strong {
  font-weight: 600;
}

a:link {
    color:#c60c30;
    }

a:visited {
    color:#646464;
    }

a:focus {
    text-decoration: none;
    color:#222;
    outline: thin dotted;
    }


h1 {
    background:url(../img/dark_fish_skin.png);
    border-bottom:1px solid #dadada;
    font-size:20px;
    font-weight:bold;
    height: 60px;
    line-height:60px;
    margin: 0;
    padding: 0 0 0 30px;
    vertical-align:middle;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    }

h1 a:link,
h1 a:visited,
h1 a:hover,
h1 a:focus{
    color:#fff;
    text-decoration:none;
    }

h1 a:focus {
    outline: thin dotted;
    }

#content {
    padding: 9px;
    background-color:#e6e6e6;
    border: 0px solid #000;
    border-radius: 10px;
    }

#query {
    border-radius:3px;
    }

::-moz-selection { background: #ff6005; }
::selection { background: #ff6005; }

.search-result span {
    background:#c60c30;
    color:#fff;
    height:20px;
    line-height:20px;
    text-align:center;
    vertical-align:middle;
    width:40px;
}

#most-common-persons p {
    margin: 0;
    padding: 0;
}

#most-common-persons li {
    display: inline;
    padding: 0 10px 0 0;
    }

.fragments {
    background:#fafafa url(../img/openquote.gif) 5px 5px no-repeat;
    line-height: 0.9;
    min-height: 6em;
    font-size: .8em;
    padding: 0.5em;
    margin: 0 0 .6em 0;
    }

.preview li, .persons li, .places li, .project li {
    display: inline;
    margin: 5px 0 0 0;
    padding: 0 .6em 0 0 !important;
    font-size:13px;
    }

.preview {
    margin-bottom: .7em;
    margin-left: .24em;
    }

.pagination {
    text-align: center;
    font-size: 60%;
    }

#loadMore{
  margin-bottom:20px;
  text-align:center;
}

#statustabelle_wrapper {
  margin-top: 70px;
}


@media print{
  .search-result{
    margin-bottom:20px;
    page-break-inside:avoid; /* Wirklich? */
  }
}

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

.metadata .zusatz {
  display: none;
  margin-bottom: 5px;
}

/* nth-child(2) is quite specifically aimed at the current structure of   */
/* HTML. Should the structure of .metadata change, this needs adaptation. */
.metadata ul.zusatz:nth-child(2) {
  border-top: 1px solid #fff;
  padding-top: 5px;
  margin-top: 5px;
}

.front_stat {
height: 290px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  background:url(../img/dark_fish_skin.png) repeat;
  background:url(../img/boxshadow_ft.png) 50% top no-repeat,url(../img/dark_fish_skin.png) repeat;
  color:#fff;
}

#footer .container {
  margin-left: 0px;
}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
